<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="testConnection"
         connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0214_3Sem_2;Persist Security Info=True;
         User ID=dmaa0214_3sem_2;Password=IsAllowed"
         providerName=".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
</configuration>