<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      
      <forms defaultUrl="~/UI/Startpage.aspx"  loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomerService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICustomerService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFConnectionLibrary/Service1/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
        contract="CustomerServiceReference.ICustomerService" name="BasicHttpBinding_ICustomerService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFConnectionLibrary/Service1/secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
        contract="CustomerServiceReference.ICustomerService" name="WSHttpBinding_ICustomerService">
        <identity>
          <userPrincipalName value="meinto-PC\meinto" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>