<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICustomerService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFConnectionLibrary/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="CustomerServiceReference.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFConnectionLibrary/Service1/secure"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
                contract="CustomerServiceReference.ICustomerService" name="WSHttpBinding_ICustomerService">
                <identity>
                    <userPrincipalName value="buster-PC\buster" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>