<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerProject.Properties.Settings.dmaa0214_3Sem_2ConnectionString"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0214_3Sem_2;User ID=dmaa0214_3Sem_2;Password=IsAllowed"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>